server:
  config:
    activate:
      on-profile: aws
  servlet:
    context-path: /api
  tomcat:
    max-swallow-size: -1

spring:

  config:
    import: optional:file:.env[.properties]

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 50MB


  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${AWS_MYSQL_URL}
    username: ${AWS_MYSQL_USERNAME}
    password: ${AWS_MYSQL_PASSWORD}

#  data:
#    redis:
#      host: ${AWS_REDIS_HOST}
#      port: ${AWS_REDIS_PORT}
#      usessl: false
#      password: ""

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true

#S3
cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}
      path:
        profile: profile
        record: record
    region:
      static-region: ap-northeast-2
    stack:
      auto: false
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}

logging:
  level:
    org:
      hibernate:
        sql: debug
        type:
          descriptor:
            sql:
              BasicBinder: trace