server:
  servlet:
    context-path: /api
  tomcat:
    max-swallow-size: -1

spring:

  config:
    import: optional:file:.env[.properties]

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 50MB

  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 1000

  jwt:
    secret: ${SECRET_TOKEN}
    access-token-expire-time: ${ACCESS_TIME}
    refresh-token-expire-time: ${REFRESH_TIME}

#CORS 설정
cors:
  allowed-origins: "http://localhost:3000"
