server:
  servlet:
    context-path: /api
  tomcat:
    max-swallow-size: -1

spring:

  config:
    import: optional:file:.env[.properties]

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 50MB

  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 1000

  jwt:
    secret: e253645a97f98c5ac9d94c7cb6fe47adef76834f1ebf312d9617564096f443ad
    access-token-expire-time: 7200000
    refresh-token-expire-time: 172800000



#S3
cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}
      path:
        profile: profile
        record: record
    region:
      static-region: ap-northeast-2
    stack:
      auto: false
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}